[mysqld_safe]
pid-file=/var/lib/mysql/mysqld.pid

[mysqld]

########################################
# System
user = mysql
basedir = /usr
datadir = /var/lib/mysql
pid-file = /var/lib/mysql/mysql.pid
socket = /var/lib/mysql/mysql.sock
port = 3306
wait_timeout = 28800
# max_allowed_packet = 4194304
# max_connections = 151

tmpdir = /var/lib/mysql
skip-name-resolve

########################################
# Encoding
character_set_server = utf8

########################################
# Logging
log_error = /var/lib/mysql/error.log
# general_log = OFF
# general_log_file = /var/lib/mysql/general.log
# slow_query_log = OFF
# slow_query_log_file = /var/lib/mysql/slow.log
# long_query_time = 3
# log_bin = /var/lib/mysql/binlog
# binlog_format = MIXED
# sync_binlog = 0
# expire_logs_days = 14

########################################
# InnoDB
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table=1
# innodb_buffer_pool_size = 128M
# innodb_flush_method = fsync
# innodb_lock_wait_timeout = 50
# innodb_log_buffer_size = 8M
# innodb_log_file_size = 48M

########################################
# Buffers
#join_buffer_size = 262144
#read_buffer_size = 131072
#read_rnd_buffer_size = 262144
#sort_buffer_size = 262144
#tmp_table_size = 16777216
